/*LoginPage.css*/

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #242d34;
  height: 100vh;
}

.logo-div {
  display: flex;
  margin-bottom: 60px;
}

.logo-div p {
  color: aliceblue;
  margin-left: -40px;
  width: 20px;
}

#buttonx :hover {
  background-color: gray;
  border-radius: 50px;
}

.LoginPage-div {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 560px;
  margin: 200px;
  background-color: black;
  color: white;
  padding: 20px 60px;
  border-radius: 20px;
}

#imgX {
  width: 35px;
  height: 35px;
  margin-left: 230px;
}
#register-form {
  display: flex;
  flex-direction: column;
}

#register-form input {
  margin: 20px;
  background-color: black;
  height: 50px;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
}

#buttonx {
  text-decoration: none;
}

#textLogin1 {
  margin-left: 20px;
}

#buttonNext {
  margin: auto;
  margin-bottom: 20px;
  background-color: #787a7a;
  color: #080a0d;
  font-weight: 700;
  width: 90%;
}

#buttonGoogleLogin{
  background-color: white;
  color: #080a0d;
  margin-left: 160px;
}