.Profile {
    background-color: #f7f9fa; /* Color de fondo */
    padding: 0; /* Eliminar padding para evitar espacios */
    margin: 0; /* Eliminar márgenes */
    height: 100vh; /* Asegurarse de que ocupa toda la altura de la pantalla */
}


.profile-container {
    color: #333; /* Texto oscuro para mejor legibilidad */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px; /* Ancho máximo para el contenedor */
    margin: 50px auto; /* Centrar el contenedor en la página */
    text-align: center; /* Centramos el texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.profile-header {
    display: flex;
    flex-direction: column; /* Asegúrate de que los elementos se alineen verticalmente */
    align-items: center; /* Alinea el contenido al centro */
    margin-bottom: 20px; /* Espacio inferior */
}


.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Hacer la imagen circular */
    margin-bottom: 10px; /* Espacio debajo de la foto */
    border: 2px solid #1da1f2; /* Borde del perfil */
    object-fit: cover; /* Mantener la proporción de la imagen */
    margin-right: -500px;
}

.username {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1da1f2; /* Color del nombre de usuario */
    margin-bottom: 10px; /* Espacio inferior */
}

.buttons-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    gap: 15px;
    margin-bottom: 20px; /* Espacio entre botones y contenido */
}

.profile-button {
    background-color: #1da1f2; 
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efecto de transición */
}

.profile-button:hover {
    background-color: #1985c5; /* Cambio de color al pasar el cursor */
}

.tweet-card {
    background-color: #e8f5fd; /* Fondo para los tweets */
    padding: 15px;
    margin: 10px 0; /* Espaciado entre tweets */
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    flex-direction: column;
    text-align: start; /* Alinear el texto al inicio */
}

.card-title {
    font-weight: bold;
    color: #1da1f2; /* Color para el nombre del autor del tweet */
}

.card-text {
    color: #666; /* Color más suave para la fecha */
    font-size: 0.9rem; /* Tamaño de fuente para la fecha */
}
