/*TweetsFeed.css*/

.TweetsFeed {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
    background-color: #1e272e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-left: -250px;
}

.tweetsContainer {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column; 
margin-left: -37px;
}

.tweet {
    width: 100%;
    background-color: #485460;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    color: #d2dae2;
    font-size: 16px;
    line-height: 1.5;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
   
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.tweet:hover {
    transform: scale(1.02);
    background-color: #57606f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.tweet:last-child {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagination button {
    background-color: #485460;
    color: #d2dae2;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #57606f;
}

.pagination button.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
}