.buttonAndTweets {
  margin-left: -200px;
}
.container {
  color: #e1e1e1;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 2rem;
  color: #1d9bf0;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tweet-card {
  background-color: #2c2f33;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
  max-width: 500px;
}

.card-title {
  font-weight: bold;
  color: #1d9bf0; /* Azul típico de X */
  margin-bottom: 5px;
}

.card-title::before {
  content: "@";
  color: #888;
}

.card-text {
  color: #888;
  font-size: 0.9rem;
}

.tweet-content {
  font-size: 1rem;
  margin: 5px 0;
}
